.container{
    height: 300px;
    display: grid;
    place-items: center;
}

#editSignos{
    margin-top: 0px;
    margin: 100px;
    width: 400px;
    padding: 5px 50px 5px 10px;
    border-radius: 10px;
    background-color: rgb(71, 63, 63);
    color: white;
}

#btnEditar{
    background-color: #e6508e; /* Color de fondo azul */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 20px; /* Esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    font-size: 16px; /* Tamaño de fuente */
    transition: background-color 0.3s ease; /* Efecto de transición */
    margin-bottom: 10px;
    margin-top: 100px;
}

#btnEditar:hover {
    background-color: #0056b3; /* Color de fondo al pasar el ratón */
}

#btnEditar:focus {
    outline: none; /* Sin borde de enfoque */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra de enfoque */
}

#textoAdmin{
    font-style: italic;
}

#textoEditar{
    border-radius: 10px;
    display: flex;
    background-color: rgb(95, 82, 82);
    color: white;
}

#btnHomeAdmin{
    background-color: #ff9d70; /* Color de fondo azul */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 20px; /* Esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    font-size: 16px; /* Tamaño de fuente */
    transition: background-color 0.3s ease; /* Efecto de transición */
}

#btnHomeAdmin:hover {
    background-color: #93e483; /* Color de fondo al pasar el ratón */
}

#btnHomeAdmin:focus {
    outline: none; /* Sin borde de enfoque */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra de enfoque */
}